/****************************************************************************************************
 * Setup
 * Change the following line to obtain a simple customization.
 *
 * NOTE: the background image alone will be able to make an amazing looking theme.
 */

/* Background */
/*body.blinkslate { background: #ffffff url(background.jpg) repeat-x top center !important; } /**/

/* Header (if using background as header enable this line) */
/*body.blinkslate #header h1 a { text-indent: -666em; }
/*body.blinkslate #header h1 a { top: 125px; left: 0px; height: 45px; width: 160px; } /* Reposition click area */

/* Base color */ 
/*body.blinkslate a { color: #006699; } /**/

/* Hilight color */
/*body.blinkslate a:hover { color: #006699; } /**/
/*body.blinkslate #sidebar ul li a:hover { background-color: #006699; } /**/

/* Font: base */
/*body.blinkslate p { font-family: Helvetica, Arial, sans-serif; } /**/

/* Font: title */
/*body.blinkslate h1, body.blinkslate h2, body.blinkslate h3, body.blinkslate h4 { font-family: Helvetica, Arial, sans-serif; } /**/

/* Post: call to action */
/*body.blinkslate .post-call-to-action-excerpt { display: none; } /**/
/*body.blinkslate .post-call-to-action-full { display: none; } /**/

/* Swap columns */
/*#sidebar { float: right !important; } #content { float: left !important; } /**/