/****************************************************************************************************
 * Setup
 * Change the following line to obtain a simple customization.
 *
 * NOTE: the background image alone will be able to make an amazing looking theme.
 */

/* Background */
/*body.blankslate { background: #ffffff url(../gfx/background.jpg) repeat-x top center !important; } /**/

/* Header (if using background as header enable this line) */
/*body.blankslate #header h1 { text-indent: -666em; } /**/

/* Base color */ 
/*body.blankslate a { color: #a8a642; } /**/

/* Hilight color */
/*body.blankslate a:hover { color: #a8a642; } /**/
/*body.blankslate #sidebar a:hover { background-color: #a8a642; } /**/

/* Font: base */
/*body.blankslate p { font-family: Helvetica, Arial, sans-serif; } /**/

/* Font: title */
/*body.blankslate h1, body.blankslate h2, body.blankslate h3 { font-family: Helvetica, Arial, sans-serif; } /**/
