/****************************************************************************************************
 * Setup
 * Change the following line to obtain a simple customization.
 *
 * NOTE: the background image alone will be able to make an amazing looking theme.
 */

/* Background */
/*body.blinkslate { background: #ffffff url(background.jpg) repeat-x top center !important; } /**/

/* Header (if using background as header enable this line) */
/*body.blinkslate #header h1 { text-indent: -666em; } /**/

/* Base color */ 
/*body.blinkslate a { color: #a8a642; } /**/

/* Hilight color */
/*body.blinkslate a:hover { color: #a8a642; } /**/
/*body.blinkslate #sidebar a:hover { background-color: #a8a642; } /**/

/* Font: base */
/*body.blinkslate p { font-family: Helvetica, Arial, sans-serif; } /**/

/* Font: title */
/*body.blinkslate h1, body.blinkslate h2, body.blinkslate h3 { font-family: Helvetica, Arial, sans-serif; } /**/
